.poster {
  height: 100vh;
  background: url('../../media/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  position: relative;
}
.SelectRide {
  position: absolute;
  top: 30%;
  width: 90%;
  text-align: center;
}


@media (max-width: 768px) {
  .poster {
    height: 105vh;
  }
  .SelectRide {
    top: 10%;
  }
}
@media (max-width: 668px) {
  .poster {
    height: 150vh;
  }
  .SelectRide {
    top: 10%;
  }
}